<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Setel Kata Sandi Baru</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
<body>
    <form action="{{ url_for('reset_password', token=token) }}" method="post">
        <h2>Atur Ulang Kata Sandi</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <label for="password">Kata Sandi Baru (Min. 8 Karakter):</label><br>
        <input type="password" id="password" name="password" required minlength="8"><br><br>
        
        <label for="confirm_password">Konfirmasi Kata Sandi Baru:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required minlength="8"><br><br>
        
        <button type="submit">Ubah Kata Sandi</button>
    </form>
</body>
</html>
